<div class="container px-5 px-sm-0">
  <div class="row justify-content-center p-5">
    <div class="col-8 offset-md-1">
      <h1 class="position-absolute top-50 start-50 translate-middle">ご注文ありがとうございました！</h1>
    </div>
  </div>
</div>