<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>税抜価格</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= image_tag item.get_sweets_image(100, 100) %></td>
      <td><%= link_to item.name, public_item_path(item.id) %></td>
      <td><%= item.price %></td>
    </tr>
  </tbody>
  <% end %>
</table>