<h1>Public::Items#index</h1>
<p>Find me in app/views/public/items/index.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>商品一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td>
              <%= link_to public_item_path(item.id) do%>
                <%= image_tag item.get_sweets_image(100, 100) %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
